@model CrockPot.Models.Recipe
@using CrockPot.Data
@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var ingredient in Model.Ingredients)
                {
                    <li>@ingredient.Name</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            <p>Author</p>
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(ViewBag.Author)
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>@category.Name</li>
                }
            </ul>
        </dd>
    </dl>

    <img src=@Model.ImageUrl alt="Image" style="width: 20vw; height: auto;" />
</div>

<div>
    <h4>Average Rating</h4>
    <p>@ViewBag.AverageRating</p>
</div>
<h4>Rating</h4>
<hr />

<p>Current Rating: @ViewBag.AverageRating</p>

@for (int i = 1; i <= 5; i++)
{
    if (i <= ViewBag.AverageRating)
    {
        <img src="~/images/star_checked.png" alt="Star" style="width: 3vw; height: auto;" />
    }
    else if (i - 0.5 <= ViewBag.AverageRating)
    {
        <img src="~/images/star_semi_checked.png" alt="Star" style="width: 3vw; height: auto;" />
    }
    else{
        <img src="~/images/star.png" alt="Star" style="width: 3vw; height: auto;" />
    }
}

<div>
    <a asp-controller="Ratings" asp-action="Create" asp-route-recipeId="@Model.Id">Add Rating</a>
</div>

<div>
    <h4>Comments</h4>
    <ul>
        @foreach (var comment in ViewBag.Comments)
        {
            <li>@comment</li>
        }
    </ul>
</div>

<div>
    <a asp-controller="Comments" asp-action="Create" asp-route-recipeId="@Model.Id">Add Comment</a>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
