@model IEnumerable<CrockPot.Models.Recipe>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    string imageSrc = string.IsNullOrEmpty(item.ImageUrl)
    ? "https://crockpotblob2005.blob.core.windows.net/images/unknown_food.png"
    : item.ImageUrl;

    <button class="display_box" onclick="window.location.href = '@Url.Action("Details", "Recipes")/' + @item.Id;">
        <div class="display_box_image">
            <img src= "@imageSrc" />
        </div>
        <div>
            <span>Name: </span>
            @Html.Raw(Truncate(item.Name, 7))
            <br>
            <span>Description: </span>
            @Html.Raw(Truncate(item.Description, 7))
            <br>
            <span>Ingredients: </span>
            @Html.Raw(Truncate(string.Join(", ", item.Ingredients?.Select(i => i.Name)), 7))
            <br>
            <span>By: </span>
            @{
                var user = await _userManager.FindByIdAsync(item.AuthorId);
                string name = "Unknown";
                if(user != null)
                {
                    name = user.UserName;
                }
                
            }
            @Html.Raw(Truncate(name, 7))
            <br>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
        
    </button>
}

@functions {
    string Truncate(string input, int length)
    {
        if (input.Length <= length)
        {
            return input;
        }
        else
        {
            return input.Substring(0, length) + "...";
        }
    }
}
